body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #050911;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo span{
    background-color: rgb(233, 5, 5);
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a{
    color: rgb(226, 10, 10);
    text-decoration: none;
}

.inicio{
    background: linear-gradient(to right, #179c86, #86a7cf);
    color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 50px;
}

.texto h1{
    font-size: 50px;
}

.texto span{
    color: rgb(158, 16, 16);
}

.texto h3{
    font-size: 25px;
    font-weight: normal;
}

.texto p{
    font-size: 18px;
    width: 500px;
    line-height: 1.5;
}

.foto img{
    border-radius: 100%;
    border: 5px solid #ffffff;
    padding: 0px;
}


.sobre-mi{
    padding: 80px 50px;
    background-color: #f4f4f4;
}

.sobre-mi h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.subtitulo{
    text-align: center;
    color: gray;
    margin-bottom: 50px;
}


.contenedor-sobre-mi{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}


.texto-sobre-mi{
    width: 60%;
}

.texto-sobre-mi p{
    line-height: 1.6;
    margin-bottom: 20px;
}


.frase{
    background-color: #eaeaea;
    padding: 20px;
    border-left: 5px solid orange;
    border-radius: 5px;
    font-style: italic;
}


.card-datos{
    width: 35%;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.card-datos h3{
    margin-bottom: 20px;
}

.card-datos p{
    margin: 10px 0;
}


.tabla-habilidades{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.tabla-habilidades th{
    background-color: #1a8028;
    color: white;
    padding: 12px;
    text-align: left;
}

.tabla-habilidades td{
    padding: 12px;
    border-bottom: 1px solid #ccc;
}


.barra{
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}


.progreso{
    height: 100%;
    border-radius: 5px;
}


.html{
    width: 40%;
    background-color: #1e3a5f;
}

.javascrip{
    width: 20%;
    background-color: #2e8b57;
}

.github{
    width: 40%;
    background-color: #f39c12;
}

.css3{
    width: 15%;
    background-color: #8e44ad;
}
.contenedor-habilidades{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.bloques-habilidades{
    display: flex;
    gap: 20px;
}


.cuadro{
    width: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}


.cuadro h3{
    margin-bottom: 15px;
}


.cuadro ul, .cuadro ol{
    padding-left: 20px;
}

.habilidades h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.subtitulo2 {
    text-align: center;
    color: gray;
    margin-bottom: 40;
}